table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 5px;
    margin: 0 auto;
}
th {
    border: 2px solid black;
    padding: 18px;
    text-align: center;
    font-size: 18px;
}

td {
    border: 1px solid black;
    padding: 18px;
    background-color: #E3AFF9;
    text-align: center;
    font-size: 18px;
}
#head_prompt{
    font-size: 12px;
    font-style: italic;
}
#button1{
    text-align: center;
}
#div_form1 {
    line-height: 40px;
    width: 450px;
    height: 500px;
    text-align: center;
    background-color: #CCCCFF;
    font-size: 20px;
    margin: 40px auto 0;
    border: 2px solid black;
}