<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" th:href="@{/css/wona.css}" type="text/css"/>
    <title>404 Not Found</title>
</head>
<body>
<h1>Not Found</h1>
</body>
<!-- import Vue before Element -->
<script th:src="@{/includejs/vue.js}"></script>
<!-- import JavaScript -->
<script th:src="@{/includejs/element.js}"></script>
<script th:src="@{/includejs/stringformat.min.js}"></script>
</html>